1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "crane presents"
      VALUE "FileDescription", "Wizard errand text adventure."
      VALUE "FileVersion", "0.0.0.1b"
      VALUE "InternalName", "groceryquest"
      VALUE "OriginalFilename", "GroceryQuest0.0.0.1b"
      VALUE "ProductName", "Grocery Quest"
      VALUE "ProductVersion", "0.0.0.1b"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END